<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
  <div class="well profile_view">
    <% if device.owner.id == current_user.id %>

      <div class="col-sm-12">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bs-example-modal-sm-<%= device.slug %>" style="width: 100%"><%= h truncate(device.name, length: 30) %></button>
        <div class="modal fade bs-example-modal-sm-<%= device.slug %>" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <%= form_for device do |f| %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Update Name</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <div class="clearfix"></div>
                    <%= f.text_field :name, class: 'form-control' %>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Update">
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="left col-sm-12">
          <h2>Network: <%= link_to(h(truncate(device.network.name, length: 30)), edit_network_path(device.network)) if device.network.present? %></h2>
        </div>
        <div class="left col-sm-12">
          <h2>Serial No: <%= device.serial_number %></h2>
        </div>
        <div class="left col-xs-7">
          <h2></h2>
        </div>
        <div class="right col-xs-5 text-center">
        </div>
      </div>
      <div class="col-xs-12 bottom text-center">
        <div class="col-xs-12">
          <span style="float: left;">
          <%= check_box_tag :state, 'on', device.on?, class: 'js-switch', data: { switchery: 'true', device_slug: device.slug } %>
          </span>
          <%= link_to device_path(device), style: 'float: right;', class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "All shared user will also lose control over the device. Do you still want to delete?"} do %>
            <i class="fa fa-remove"></i> Delete
          <% end %>
          <% if device.network.present? %>
            <%= link_to device_script_path(device), style: 'float: right;', class: 'btn btn-dark btn-xs' do %>
              <i class="fa fa-download"></i> Script
            <% end %>
          <% end %>
          <%= link_to device_path(device), style: 'float: right;', class: 'btn btn-info btn-xs' do %>
            <i class="fa fa-user"></i> Share
          <% end %>
        </div>
      </div>

    <% else %>

      <div class="col-sm-12">
        <button type="button" class="btn btn-link" style="width: 100%"><%= h truncate(device.name, length: 30) %></button>
        <div class="left col-sm-12">
          <h2>Network: </h2>
        </div>
        <div class="left col-sm-12">
          <h2>Serial No: </h2>
        </div>
        <div class="left col-xs-7">
          <h2></h2>
        </div>
        <div class="right col-xs-5 text-center">
        </div>
      </div>
      <div class="col-xs-12 bottom text-center">
        <div class="col-xs-12">
          <span style="float: left;">
            <%= check_box_tag :state, 'on', device.on?, class: 'js-switch', data: { switchery: 'true', device_slug: device.slug } %>
          </span>
          <%= link_to device_path(device), style: 'float: right;', class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are You Sure?"} do %>
            <i class="fa fa-remove"></i> Delete
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
