<%= form_for device, html: { class: 'form-horizontal col-md-offset-3 col-md-6' } do |f| %>
  <fieldset>
    <legend>Add Device Details</legend>
    <div class="form-group">
      <label for="inputName" class="control-label">Name</label>
      <%= f.text_field :user_provided_name, class: 'form-control', id: 'inputName', placeholder: 'Device Name ( For Your Ease to Remember in case of many Devices )' %>
    </div>
    <div class="form-group">
      <label for="inputToken" class="control-label">Unique Token</label>
      <%= f.text_field :token, class: 'form-control', id: 'inputToken', placeholder: 'Enter Device Unique Token' %>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="control-label">Password</label>
      <%= f.password_field :password, class: 'form-control', id: 'inputPassword', placeholder: 'Enter Password', value: device.password %>
    </div>
    <div class="form-group">
      <label for="inputApi" class="control-label">API</label>
      <%= f.text_field :api, class: 'form-control', id: 'inputApi', placeholder: 'Enter Device API to Access Device' %>
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
<% end %>
