
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <!-- <div class="navbar nav_title" style="border: 0;">
        <%= link_to root_path, class: "site_title" do %>
          <span><%= image_tag 'logo.png' %></span>
        <% end %> -->
      <div class="navbar nav_title">
        <%= link_to root_path, class: 'site_title', style: 'padding: 8px;' do %>
          <%= image_tag 'favicon.ico', style: 'margin-right: -6px;' %>
          <span><%= image_tag 'white-logo1.png' %></span>
        <% end %>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag current_user.photo(:small), :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <h2><%= link_to current_user.name, user_path(current_user), class: 'btn btn-success' %></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br/>

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <div class="clearfix"></div>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-bolt"></i> Networks <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to 'Add New Network', new_network_path %>
                </li>
                <li><%= link_to 'My Networks', networks_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-cogs"></i> Devices <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to 'Control Panel', devices_path(category: :all) %>
                </li>
                <li><%= link_to 'Owned Devices', devices_path(category: :owned) %>
                </li>
                <li><%= link_to 'Shared Devices', devices_path(category: :shared) %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
