<tr class="even pointer">
  <td><%= user.name %></td>
  <td><%= user.provider %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info' %>
    <%= link_to 'Delete', user_path(user), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if user.id != current_user.id %>
  </td>
</tr>
