<!DOCTYPE html>
<html>
<head>
  <title>AotNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <%= render "partials/topnav" if current_user %>
    <div class="container body">
      <% flash.each do |key, value| %>
          <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
