<!DOCTYPE html>
<html>
<head>
  <title>AotNext</title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <body class="nav-md">
    <% if current_user %>
      <div class="container body">
        <% flash.each do |key, value| %>
            <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <%= render "partials/sidenav" %>
      <%= render "partials/topnav" %>
      <%= yield %>
        <%= render "partials/footer" %>
    <% else %>
      <%= yield %>
    <% end %>
    <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
  </body>
</html>
